


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
      .inputfile{
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
      }
      .inputfile + label{
        font-size:1.25em;
        font-weight: 700;
        color:white;
        background-color: blue;
        display: inline-block;
      }
      .inputfile:focus +label,
        .inputfile+label:hover{
          background-color: rgb(71, 97, 214);
        
      }
    </style>
    <title>Document</title>
    </head>
    <body style="background-color: rgb(140, 171, 228);">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="#"><img src="C:\Users\ayesha\Desktop\vac\graphic course19\PlagiarismChecker logo.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" d
            ata-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-item display-4 text-sm-left font-weight-bold text-md-left" style="font-family:Georgia, 'Times New Roman', Times, serif;color:black; text-decoration: none;"  href="#">Plagiarism Checker</a>
                </li>
              </ul>
            </div>
          </nav>
          <h1 class="text-center"></h1>
          <div class="conatainer-fluid">
          <form action="check" method="POST">
            {% csrf_token %}
            <br><br>
            <div class="row arow">
                <div class="col-sm-2 col-md-4"><textarea class="form-control" name="user-msg1" id="" cols="100" rows="20" placeholder="Enter some text"  style="width: 100%;margin-left:200px;"></textarea></div>
                <div class="col-sm-2 col-md-4"><textarea name="user-msg2" id="" cols="140" rows="20" placeholder="Enter some text" style="width: 100%;margin-left:300px;"></textarea></div>
              <br><br><br>
               </div>
               <br><br><br>
               <button type="submit" class="btn btn-primary col-sm-3" style="margin-left:560px;width: 250px;"><h4 style="font-family: Georgia, 'Times New Roman', Times, serif;">Check Plagiarism</h4></button>
          </div>
          </form>
<br><br><br>
           <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
    </html>